﻿<%@ page title="" language="C#" masterpagefile="~/masterpage.Master" autoeventwireup="true" codebehind="DayCashAndCreditSalePartyWise.aspx.cs" inherits="WebPOS.Reports.SaleReports.DayCashAndCreditSalePartyWise" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <link rel="stylesheet" href="<%=ResolveClientUrl("/css/jquery.datetimepicker.css")%>" />
    <link href="../../css/allitems.css" rel="stylesheet" />
</asp:Content>
<asp:content id="Content2" contentplaceholderid="ContentPlaceHolder1" runat="server">



    <div class="reports searchAppSection">
        <div class="contentContainer">
            <h2>Day Cash And Credit Sale Party Wise</h2>
            <div class="BMSearchWrapper row align-items-end">
                <!-- <span>First time here? <br /><a href="riskValue.html">Click here to read more</a> </span> -->
                <div class="col col-12 col-sm-3 col-md-3">
                    <span class="userlLabel">From</span>
                    <asp:TextBox ID="fromTxbx" CssClass="datetimepicker fromTxbx Date" runat="server"></asp:TextBox>
                    <%--<input id="fromTxbx" class=" datetimepicker fromTxbx"  name="Date" type="text" />--%>
                </div>
                <div class="col col-12 col-sm-3 col-md-3">
                    <span class="userlLabel">To</span>
                    <asp:TextBox ID="toTxbx" CssClass="datetimepicker toTxbx Date" runat="server"></asp:TextBox>

                    <%--<input id="toTxbx" class="datetimepicker toTxbx" type="text"  name="Date"/>--%>
                </div>
                <div  class="col col-12 col-sm-6 col-md-3">
								
								<input id="PartySearchBox" data-id="PartyTextbox" data-type="Party" data-function="GetParty" class="clientInput clearable PartySearchBox autocomplete form-control" name="PartyName" type="text" placeholder="Enter a party name" />
							</div>
                            <div  class="col col-12 col-sm-6 col-md-3">
								<span class="userlLabel">Party Code</span>
                              <asp:TextBox id="txtPartyCode" disabled="disabled" ClientIDMode="Static" CssClass="PartyCode"  name="PartyCode"  runat="server"></asp:TextBox>
							</div>

                <div class="col col-12 col-sm-3 col-md-6">
                    <a href="#" id="searchBtn" class="btn btn-bm"><i class="fas fa-spinner"></i>Get Record</a>
                </div>

                <div class="col col-12 col-sm-3 col-md-6">
                    <a href="#" id="print" class="btn btn-bm"><i class="fas fa-print"></i>Print</a>
                </div>
            </div>
            <!-- searchAppSection -->
        </div>
    </div>
    <!-- featuredSection -->

    <div class="businessManagerSellSection dayCashAndCreditSale businessManager BMtable" style="height: 299px">

        <div class="contentContainer">

            <div class="reports recommendedSection allItemsView">


                <div class="itemsHeader">
                    <div class="seven phCol" style="width:20% !important" >
                        <a href="javascript:void(0)">S #
                        </a>
                    </div>
                    <div class="seven phCol" style="width:70% !important" >
                        <a href="javascript:void(0)">Date
                        </a>
                    </div>
                    <div class="seven phCol" style="width:50% !important">
                        <a href="javascript:void(0)">Invoice
                        </a>
                    </div>
                    <div class="thirteen  phCol" style="width:300% !important">
                        <a href="javascript:void(0)">Name
                        </a>
                    </div>
                    <div class="thirteen phCol" >
                        <a href="javascript:void(0)">Total
                        </a>
                    </div>
                    <div class="thirteen phCol" >
                        <a href="javascript:void(0)">Discount
											
                        </a>
                    </div>
                    <div class="thirteen phCol" >
                        <a href="javascript:void(0)">Cash Paid
											
                        </a>
                    </div>
                    <div class="thirteen phCol" >
                        <a href="javascript:void(0)">Balance
											
                        </a>
                    </div>
                    <div class="thirteen phCol" >
                        <a href="javascript:void(0)">Current Balance
											
                        </a>
                    </div>
                </div>
                <!-- itemsHeader -->
                <div class="loader">
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell">
                                <i class="fas fa-spinner fa-spin  main_color_dark_shade"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="itemsSection">
                </div>
                <div class="itemsFooter">
                    <div class='itemRow newRow'>
                        <div class='seven' style='width:20% !important'><span></span></div>
                        <div class='seven' style='width:70% !important'><span></span></div>
                        <div class='seven' style='width:50% !important'><span></span></div>
                        <div class='thirteen' style='width:300% !important'><span></span></div>
                        <div class='thirteen'> <input disabled="disabled" name='totalTotal' /></div>
                        <div class='thirteen'> <input disabled="disabled" name='totalDiscount' /></div>
                        <div class='thirteen'> <input disabled="disabled" name='totalPaid' /></div>
                        <div class='thirteen'> <input disabled="disabled" name='totalBalance' /></div>
                        <div class='thirteen'> <input disabled="disabled" name='totalCBalance' /></div>

                    </div>
                </div>

            </div>

        </div>
        <!-- recommendedSection -->



    </div>
</asp:content>
<asp:content runat="server" id="content4" contentplaceholderid="Scripts">
    <script src="<%=ResolveClientUrl("/Script/Dropdown.js")%>"></script>
     <script src="<%=ResolveClientUrl("/Script/Autocomplete.js")%>"></script>
    <script type="text/javascript">
        
        $(document).ready(function () {
            initializeDatePicker();
            
            resizeTable();
        });

        $(window).resize(function () {
            resizeTable();
        });


        $("#toTxbx").on("keypress", function (e) {
            if (e.key == 13) {
                $("#currentPage").remove();
                $("<input hidden id='currentPage' value='" + 0 + "' />").appendTo("body");
                clearInvoice();
                getReport();

            }
        });

        $("#searchBtn").on("click", function (e) {

            $("#currentPage").remove();
            $("<input hidden id='currentPage' value='" + 0 + "' />").appendTo("body");
            clearInvoice();
            getReport();

        });
        function getReport() {
            $(".loader").show();
            var currentPage = $("#currentPage").val() == "" || $("#currentPage").val() == undefined ? "0" : $("#currentPage").val();

            var data = {
                from: $(".fromTxbx").val(),
                to: $(".toTxbx").val(),
                PCod: $(".PartyCode").val()
            }

            $.ajax({
                url: '/Reports/SaleReports/DayCashAndCreditSalePartyWise.aspx/getReport',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                //data: JSON.stringify({ "from": $(".fromTxbx").val(), "to": $(".toTxbx").val(), "code": $(".PartyCode").val() }),
                success: function (response) {
                    if (response.d.Success) {
                        if (response.d.ListofInvoices.length > 0) {
                            
                            for (var i = 0; i < response.d.ListofInvoices.length; i++) {
                                var count = i + 1;
                                $("<div class='itemRow newRow'>" +
                                    "<div class='seven' style='width:20% !important'><span>" + count + "</span></div>" +
                                    "<div class='seven' style='width:70% !important'><span>" + response.d.ListofInvoices[i].Date + "</span></div>" +
                                    "<div class='seven' style='width:50% !important'><span>" + response.d.ListofInvoices[i].InvoiceNumber + "</span></div>" +
                                    "<div class='thirteen name' style='width:300% !important'><input  id='newDescriptionTextbox_" + i + "' value='" + response.d.ListofInvoices[i].PartyName + "' disabled /></div>" +
                                    "<div class='thirteen'><input name='Total' type='text' id='newQtyTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Total).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Discount'  id='newRateTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].NetDiscount).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Paid'  id='newGAmountTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Paid).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='Balance'  id='newItemDTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].Balance).toFixed(2) + " disabled /></div>" +
                                    "<div class='thirteen'><input name='CBalance'  id='newItemDTextbox_" + i + "' value=" + Number(response.d.ListofInvoices[i].CurrentBalance).toFixed(2) + " disabled /></div>" +
                                    "</div>").appendTo(".dayCashAndCreditSale .itemsSection");
                            }
                            $(".loader").hide();
                            calculateData();

                        } else if (response.d.ListofInvoices.length == 0 && currentPage == "0") {
                            $(".loader").hide(); swal({
                                title: "No Result Found ",
                                text: "No Result Found!"
                            });
                        }

                    }
                    else {
                        $(".loader").hide();
                        swal({
                            title: "there is some error",
                            text: response.d.Message
                        });
                    }

                },
                error: function (error) {
                    swal("Error", error.responseJSON.Message, "error"); $(".loader").hide();

                }
            });
        }

        function clearInvoice() {


            $(".itemsSection .itemRow").remove();
        }
        function calculateData() {

            var sum;
            var inputs = ["Total", 'Discount', 'Paid', 'Balance','CBalance'];
            for (var i = 0; i < inputs.length; i++) {

                var currentInput = inputs[i];
                sum = 0;
                $("input[name = '" + currentInput + "']").each(function () {

                    if (this.value.trim() === "") {
                        sum = (Number(sum) + Number(0));
                    } else {
                        sum = (Number(sum) + Number(this.value));

                    }

                });

                $("[name=total" + currentInput + "]").val('');
                $("[name=total" + currentInput + "]").val(Number(sum).toFixed(2));


            }

        }
    </script>
</asp:content>
