/* Handle */
#ref .color-primary {
  color: #C50002;
}
#ref .chart .color-primary {
  color: #C50002;
}
#ref .chart .color-secondary {
  color: #7bccdd;
}

.auth-container .auth-header {
  text-align: center;
  border-bottom: 1px solid #C50002;
}

.alert.alert-primary {
  color: #ffffff;
  background-color: #C50002;
  border-color: #C50002;
}
.alert.alert-primary hr {
  border-top-color: #3eb4ce;
}

tfoot tr,
thead tr {
  background: #C50002;
  border-bottom: 2px solid #C50002;
}

.userDetails {
  color: #C50002;
}

.popover-header {
  color: white;
  background-color: #C50002;
}

span.commentaryNumber, span.questionNumber {
  background: #C50002;
}

input.form-control,
label {
  color: #C50002 !important;
}

.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-top-color: #C50002;
  border-bottom-color: transparent;
  opacity: 1;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:focus {
  opacity: 1;
  background-color: #ffffff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #C50002;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:hover {
  opacity: 1;
  background-color: #ffffff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #C50002;
}

.card.card-primary {
  border-color: #C50002;
}
.card.card-primary > .card-header {
  background-color: #C50002;
  border-color: #C50002;
}

.btn.btn-primary {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #34b0cb;
  border-color: #31a7c1;
}
.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary:disabled {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.btn.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary.disabled {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}

.show > .btn.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.show > .btn.btn-primary-outline.dropdown-toggle {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.show > .btn.btn-primary-outline.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline {
  color: #C50002;
  background-color: transparent;
  background-image: none;
  border-color: #C50002;
}
.btn.btn-primary-outline:hover {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.btn.btn-primary-outline:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary-outline:disabled {
  color: #C50002;
  background-color: transparent;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #C50002;
  border-color: #C50002;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline.disabled {
  color: #C50002;
  background-color: transparent;
}

.dropdown-menu .dropdown-item:hover {
  color: #C50002 !important;
  background: none;
  background-color: whitesmoke;
}

.input-group span.input-group-addon.focus {
  background-color: #C50002;
  color: #ffffff;
}

.form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #C50002;
}

.has-error .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #C50002;
}

.has-success .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #C50002;
}

.has-warning .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #C50002;
}

.form-control.boxed:focus {
  border: 1px solid #C50002;
}

.checkbox:checked + span:before {
  color: #C50002;
}

.radio:checked + span:before {
  color: #C50002;
}

.images-container .image-container.active {
  border-color: #C50002;
}
.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #C50002 solid;
  color: #C50002;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
  color: #C50002;
}

.logo .l {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #C50002;
  position: absolute;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active {
  color: #C50002;
  border-bottom: 2px solid #C50002;
}
.modal-body.modal-tab-container .modal-tabs .nav-link:hover {
  color: #C50002;
  border-bottom: 2px solid #C50002;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: #33aec9;
}

.nav.nav-tabs-bordered {
  border-color: #C50002;
}
.nav.nav-tabs-bordered + .tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #C50002;
  padding: 10px 20px 0;
}
.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #C50002;
  border: 1px solid #C50002;
}
.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-color: #C50002;
  border-bottom-color: transparent;
}

.nav.nav-pills .nav-item .nav-link.active {
  border-color: #C50002;
  border-bottom-color: transparent;
  background-color: #C50002;
}
.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: #C50002;
  color: #ffffff;
}

.nav > li > a {
  color: #283959 !important;
}

.disciplineActionBtns .custom-btn {
  background: #C50002 !important;
}

.pagination .page-item .page-link {
  color: #C50002;
}
.pagination .page-item.active .page-link {
  color: #fff;
  border-color: #C50002;
  background-color: #C50002;
}
.pagination .page-item.active .page-link:focus {
  color: #fff;
  border-color: #C50002;
  background-color: #C50002;
}
.pagination .page-item.active .page-link:hover {
  color: #fff;
  border-color: #C50002;
  background-color: #C50002;
}

#nprogress .bar {
  background: #C50002 !important;
}
#nprogress .bar .peg {
  -webkit-box-shadow: 0 0 10px #C50002, 0 0 5px #C50002;
  box-shadow: 0 0 10px #C50002, 0 0 5px #C50002;
}
#nprogress .spinner .spinner-icon {
  border-top-color: #C50002 !important;
  border-left-color: #C50002 !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #C50002;
}
*::-webkit-scrollbar-thumb *:window-inactive {
  background: #C50002;
}

.attributesRow:nth-child(even) {
  background: #fff5f5;
}

.allAttributesView .attributesHeader {
  background: #C50002;
}

.attribute-type-title {
  background: #C50002;
}

.sidebar-toggle-btn {
  background: #C50002;
}

#powerTip {
  background-color: #fa5052 !important;
}

.page-header {
  color: #C50002;
  border-bottom: 1px solid #C50002;
}

.header .custom-button {
  color: #C50002 !important;
}

.addQuestionToWord {
  background: #C50002;
  background: #C50002;
}

.dd-container label {
  color: #C50002 !important;
}

.navigation-confirmation-box {
  background: #C50002;
}

#powerTip.n:before {
  border-top-color: #C50002 !important;
}

#powerTip.ne:before {
  border-top-color: #C50002 !important;
}

#powerTip.nw:before {
  border-top-color: #C50002 !important;
}

#powerTip.nw-alt:before {
  border-top-color: #C50002 !important;
}

#powerTip.ne-alt:before {
  border-top-color: #C50002 !important;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C50002;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.text-primary {
  color: #C50002;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomin {
  background-color: #C50002;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #C50002;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page .stats .stat-progress {
  height: 2px;
  margin: 5px 0;
  color: #C50002;
  background-color: #dddddd;
}
.dashboard-page .stats .stat-progress .progress-bar {
  background-color: #C50002;
}

header {
  background-color: #ffffff;
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .header-block-collapse .collapse-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #C50002;
  font-size: 24px;
  line-height: 40px;
  border-radius: 0;
  outline: none;
  padding: 0 10px;
  vertical-align: initial;
}
header .header-block-nav > ul > li > a:hover {
  color: #C50002;
}
header .header-block-nav .notifications.new .counter {
  color: #C50002;
  font-weight: bold;
}
header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: #C50002;
}
header .header-block-nav .profile .arrow {
  color: #C50002;
}
header .header-block-nav .profile-dropdown-menu a .icon {
  color: #C50002;
  text-align: center;
  width: 16px;
}

.modal .modal-header {
  background-color: #C50002;
  color: #ffffff;
}

.disciplineActionBtns > a {
  display: inline-block !important;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li.active > a {
  background-color: #C50002 !important;
  color: #ffffff;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #C50002 !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}
.sidebar .sidebar-menu > li.open > a {
  background-color: #C50002 !important;
  color: #ffffff;
}

.sidebar > .sidebar-menu > li.active > a > .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.btn-blue {
  color: white !important;
  background: #C50002;
}

.detailPage .attributeActive > a {
  background: #C50002;
  color: #fff !important;
}

#modal-media .images-container .image-container:hover {
  border-color: rgba(82, 188, 211, 0.5);
}
#modal-media .images-container .image-container.active {
  border-color: rgba(82, 188, 211, 0.5);
}
#modal-media .upload-container .dropzone {
  position: relative;
  border: 2px dashed #C50002;
  height: 270px;
}
#modal-media .upload-container .dropzone .dz-message-block .dz-message {
  margin: 0;
  font-size: 24px;
  color: #C50002;
  width: 230px;
}

#customize-menu .customize {
  width: 240px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #2d363f;
  text-align: center;
  padding: 10px 15px;
  border-top: 2px solid #C50002;
}
#customize-menu .customize .customize-item .radio:checked + span:before {
  color: #C50002;
}

.backToNavigationWord {
  background: #C50002;
}

.ringring {
  border: 10px solid #C50002;
}

.app .content {
  padding: 65px 5px 0;
  min-height: 100vh;
}

.saleEdit [name=Invoice] {
  width: 40%;
  float: left;
}
.saleEdit .leftRightButtons {
  width: 27%;
  float: right;
  border: 0;
  padding: 0;
  margin: 0;
}
.saleEdit .leftRightButtons a {
  background: #db7475;
  width: 45%;
  height: 91%;
  float: left;
  border: none;
  border-radius: 5px;
  margin-left: 3%;
  padding: 3px;
}

.itemMeta i {
  font-size: 16px !important;
  color: white !important;
  width: 100% !important;
  float: left !important;
  background: transparent !important;
  padding: 0 !important;
}
.itemMeta .selectDiv {
  background: #db7475 !important;
}
.itemMeta div {
  border-radius: 2px !important;
}

.userlLabel {
  background: #db7475 !important;
}

.searchAppSection {
  background: #C50002 !important;
}

.footerTotalSection {
  background: #C50002 !important;
}

.itemsFooter {
  background: #C50002 !important;
}

.editSaleInvoice2Section .allItemsView .itemsHeader {
  background: #C50002 !important;
}

input {
  color: #920103 !important;
}

th {
  background: #db7475 !important;
  color: #ffffff !important;
}

.ui-menu-item {
  color: #C50002 !important;
  width: 100%;
  background-color: #333;
  height: 35px;
  padding: 8px 10px 0 12px;
  border: 0 solid !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #db7475 !important;
  border-radius: 10px !important;
}

.ui-state-focus {
  background-color: #ea9091 !important;
  color: #ffffff !important;
  border: 0 !important;
  cursor: pointer;
}

.ui-state-active {
  background-color: #ea9091 !important;
  color: #ffffff !important;
  border: 0 !important;
  cursor: pointer;
}

.ManSelectDiv .dd-options {
  top: 24px;
}

.dd-options {
  top: 26px;
}

.allItemsView .descriptionData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .discountData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .QtyData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .ItemDData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .dealData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .RateData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .NAmountData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .PAmountData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .GAmountData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}
.allItemsView .itemsHeader {
  background: #db7475 !important;
}

.allItemsView .descriptionData input {
  border: 0.5px solid #db7475;
  background: #F5F5F5;
}

.itemSellBtn {
  border: 1px solid #C50002;
}

.loginBtn {
  border: 1px solid #C50002;
}

.disableClick .fa.fa-chevron-circle-left {
  color: grey !important;
  margin-left: -35px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right {
  color: grey !important;
  margin-left: 35px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.leftRightButtons .disableClick {
  background: lightgrey !important;
}
.leftRightButtons .disableClick:hover {
  background: lightgrey !important;
}

.btn-bm {
  background: #db7475;
  color: #ffffff !important;
  border: 1px solid #cfd7da;
}
.btn-bm:hover {
  background: #ea9091;
}

.partySection.sale .leftRightButtons a {
  background: #db7475;
  border: 1px solid #ea9091;
}
.partySection.sale .leftRightButtons input[type=submit] {
  background: #db7475;
  border: 1px solid #ea9091;
}
.partySection.sale .leftRightButtons a.disableClick {
  background: #bebebe !important;
}
.partySection.sale .leftRightButtons input[type=submit].disableClick {
  background: #bebebe !important;
}

.sale .leftRightButtons a:hover {
  background: #ea9091 !important;
}

.dd-option {
  background: #ea9091 !important;
}
.dd-option:hover {
  background: #db7475 !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default {
  background: #db7475 !important;
  box-shadow: #db7475 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
  background: #db7475 !important;
  box-shadow: #db7475 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month {
  opacity: 0.5;
  background: #ea9091;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled {
  opacity: 0.5;
  background: #ea9091;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
  background: #db7475 !important;
  border-color: #db7475 !important;
  color: #333 !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: #C50002;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #db7475 !important;
  box-shadow: #db7475 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
  opacity: 0.5;
  background: #ea9091;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}

.dd-select {
  background: #db7475 !important;
}

.badge-bm {
  background-color: #db7475;
}

.Ime-header {
  background: #db7475;
}

#powerTip {
  background-color: #db7475 !important;
}
#powerTip:before {
  color: #db7475 !important;
}

@media (max-width: 767px) {
  .itemMeta i {
    font-size: 10px !important;
    padding: 7px 0 0;
  }
}

/*# sourceMappingURL=app-red.css.map */
