﻿.serialNum,.one ,.two ,.three,.four ,.five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen ,.sixty{
    float: left;
  
        padding-left: 5px;
   
    border-left: 1px solid;       border-color: #c7c7c7;
}
a {
    color: white;
    font-size: 14px;
    text-decoration: none !important;
}
.rowRecord a{
     color: #46b288;
    font-size: 15px;
    text-decoration: none !important;
    margin: -2px;
}
[class=flex-1] input, [class=flex-2] input, .one input, .two input, .three input, .four input, .five input, .six input, .seven input, .eight input, .nine input, .ten input, .eleven input, .twelve input, .thirteen input, .fourteen input, .fifteen input, .sixteen input, .sixty input {
    /*width: 90% !important;*/
    border: 0.5px solid #4e758e45;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #4E758E;
    font-weight: 600;
    text-align: right;
    padding: 5px 5px;
    background: #fcfcfc;
    font-size: 14px;
}


.reports [class=flex-1] input, .reports [class=flex-2] input, .reports .one input, .reports .two input, .reports .three input, .reports .four input, .reports .five input, .reports .six input, .reports .seven input, .reports .eight input, .reports .nine input, .reports .ten input, .reports .eleven input, .reports .twelve input, .reports .thirteen input, .reports .fourteen input, .reports .fifteen input, .reports .sixteen input {
    width: 100% !important;
    border: none;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #4E758E;
    font-weight: 700;
    text-align: right;
    padding: 5px 5px;
    background: whitesmoke;
    font-size: 14px;
    height: 25px;
}

.reports .five:last-child,.reports  .six:last-child  ,.reports  .seven:last-child ,.reports  .eight:last-child ,.reports  .nine:last-child ,.reports  .ten:last-child , .reports .eleven:last-child , .reports .twelve:last-child , .reports .thirteen:last-child ,.reports  .fourteen:last-child ,.reports  .fifteen:last-child ,.reports  .sixteen:last-child  {
    border-right: 2px solid;
    -ms-border-radius: 0;
    border-radius: 0;       border-color: #c7c7c7;
}


.one {
    width: 1% !important;
}
.two {
    width: 2% !important;
}
.three {
    width: 3% !important;
}
.four {
    width: 4% !important;
}

.five {
    width: 5% !important;
}

.six {
    width: 6% !important;
}

.seven {
    width: 7% !important;
}

.eight {
    width: 8% !important;
}

.nine {
    width: 9% !important;
}

.ten {
    width: 10% !important;
}

.eleven {
    width: 11% !important;
}

.twelve {
    width: 12% !important;
}

.thirteen {
    width: 13% !important;
}

.fourteen {
    width: 14% !important;
}

.fifteen {
    width: 15% !important;
}

.sixteen {
    width: 16% !important;
}
.sixty {
    width: 60% !important;
}
input.name {
    text-align: left;
}
.itemsFooter input {
    color: whitesmoke!important;
    background: rgba(255, 255, 255, 0) !important;
    border: none !important;
}

.reports .itemsHeader,
.reports .itemsSection .itemRow,
.reports .itemsFooter .itemRow{
    display:flex;
}
.reports .one, .reports .two, .reports .three, .reports .four, .reports .five, .reports .six, .reports .seven, .reports .eight, .reports .nine, .reports .ten, .reports .eleven, .reports .twelve, .reports .thirteen, .reports .fourteen, .reports .fifteen, .reports .sixteen, .reports .sixty {
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    -webkit-box-flex: 1 !important;
    width: 100% !important;
}