﻿  
.saleEdit [name=Invoice]{
        width: 40%;
    float: left;
}
.saleEdit .leftRightButtons{
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}
.saleEdit .leftRightButtons a{
   background: #3792b6  ;
    width: 45%;
    height: 91%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
        padding: 3px;
         -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dd-pointer .dd-pointer-down{
      -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.saleEdit .leftRightButtons a:hover{
          background:#a8d1e2 !important;
   -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

 .itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}
 @media (max-width: 767px) {
  .itemMeta i {
  font-size: 10px !important;
   
    padding: 7px 0 0px 0px;

  }
}
 
  .userlLabel,  .itemMeta .selectDiv {
    background:#3792b6  !important
}
   .searchAppSection  , .footerTotalSection,   .itemsFooter,  .allItemsView .itemsHeader{
    /*background:#3ba500 !important;*/
   
         background: #5fa9c6  !important

}
input {
    color: #2c7a98 !important
}
    .itemMeta div{
      border: 1px  #3ba500 !important;
      border-radius:2px  !important;  }

    .itemSellBtn {
    background: #e4e4e4 !important;
    color: #5fa9c6  !important;
  }

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item  {
                 color: #3792b6  !important;
           
         }
*::-webkit-scrollbar-thumb {
    background-color:  #5fa9c6  !important;
    border-radius: 10px !important;
}
.ManSelectDiv .dd-options {
	 top: 24px;
		
 }.dd-options {
	 top: 26px;
 }

.dd-option {
    background: #7eb4ca !important;
}
 .dd-option:hover {
    background: #5fa9c6  !important
}
  .ui-state-focus {
			 background-color: #a8d1e2 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
	   
		 .ui-state-active {
			 background-color:#a8d1e2 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
		 .ui-helper-hidden-accessible {
			 display: none !important
		 }
		 .ui-menu-item {
			 width: 100%;
			 background-color: #EEEEEE;
			 height: 35px;
			 color: #3792b6 ;
			 padding: 8px 10px 0px 12px
	
		 }
         .ui-menu-item {
   
   border: 0px solid !important;
   }

      .allItemsView .descriptionData input,   allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
   
    border: 0.5px solid #5fa9c6 ;
    background:#F5F5F5;
}

.itemSellBtn, .loginBtn {
   
    border: 1px solid #5fa9c6 ;
}
.allItemsView .itemsSection .itemRow:hover {
   background:#a8d1e2;
}
.leftRightButtons .disableClick .fa.fa-chevron-circle-left{
    color:grey !important;
        margin-left: -35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick .fa.fa-chevron-circle-right{
    color:grey !important;
        margin-left: 35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick {
    background:lightgrey !important;
}
.leftRightButtons .disableClick:hover {
    background:lightgrey !important;
}
#ContentPlaceHolder1_Invoice {
    width: 40% !important;
    float: left;
}









.btn-bm {
    background: #3792b6 !important;
    color: white !important;
    border: 1px solid #cfd7da;
}

    .btn-bm:hover {
        background: #2b738f!important
    }

.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #3792b6 !important;
    height: 27px;
    float: left;
    border: 1px solid #cfd7da;
}

.sale .leftRightButtons a:hover {
    background: #2b738f!important;
    cursor: pointer;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #3792b6 !important;
    box-shadow: #2b738f0 1px 3px 0 inset !important;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
    opacity: 0.5;
    background: #3792b6 !important;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    background: #3792b6 !important;
    border-color: #3792b6 !important;
    color: aliceblue !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #fff !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    background: #2b738f!important;
}

.dd-select {
    background: #3792b6 !important;
}

.allItemsView .itemsHeader {
    background: #3792b6 !important;
}

.badge-bm {
    background-color: #3792b6;
}
.Ime-header {
    background: #3792b6;
}
#powerTip {
    background-color: #3792b6 !important;
}

    #powerTip:before {
        color: #3792b6 !important;
    }
.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}