﻿  
.saleEdit [name=Invoice]{
        width: 40%;
    float: left;
}
.saleEdit input.InvoiceNumber {
    width: 40% !important;
    float: left !important;
}
.saleEdit .leftRightButtons{
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}
.saleEdit .leftRightButtons a{
   background: #797979 ;
    width: 45%;
    height: 91%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
        padding: 3px;
}
.saleEdit .leftRightButtons a:hover{
          background: #a9d4c8 !important;
  
}


 .itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}
 @media (max-width: 767px) {
  .itemMeta i {
  font-size: 10px !important;
   
    padding: 7px 0 0px 0px;

  }
}
 
 .userlLabel, .itemMeta .selectDiv {
    background:#797979  !important
}
  .searchAppSection  ,.footerTotalSection,  .itemsFooter, .editSaleInvoice2Section  .allItemsView .itemsHeader{
 
         background: #4a4a4a !important;

} 
  input{
    color:#4a4a4a !important;

  }

   .itemSellBtn {
      color: #4a4a4a !important;
  }

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item  {
                 color: #4a4a4a !important;
           
         }
*::-webkit-scrollbar-thumb {
    background-color: #797979  !important;
    border-radius: 10px !important;
}
.ui-menu-item {
			 width: 100%;
			 background-color: #EEEEEE;
			 height: 35px;
			 color: rgb(245, 176, 104);
			 padding: 8px 10px 0px 12px
	
		 }
.ui-state-focus {
			    background-color: #bed1cc !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
	   
		 .ui-state-active {
			 background-color:#a9c798 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }

         .ui-menu-item {
   
   border: 0px solid !important;
   }
         .ManSelectDiv .dd-options {
	 top: 24px;
	
 }
    .dd-options {
	 top: 26px;
	
 }

  .dd-option {
       background: #9ed4c6 !important;
}
  .dd-option:hover {
        background: #87c3b3 !important;
}

     .allItemsView .descriptionData input,   allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
   
   border: 0.5px solid #797979 ;
   background:#F5F5F5;
   
}

.itemSellBtn, .loginBtn {
   
    border: 1px solid #4a4a4a;
}
.allItemsView .itemsSection .itemRow:hover {
   background:#a9d4c8 !important
}
.disableClick .fa.fa-chevron-circle-left{
    color:grey !important;
        margin-left: -35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right{
    color:grey !important;
        margin-left: 35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick {
    background:lightgrey !important;
}
.leftRightButtons .disableClick:hover {
    background:lightgrey !important;
}
#ContentPlaceHolder1_Invoice {
    width: 40% !important;
    float: left;
}.allItemsView .itemsSection .itemRow:hover {
   background:rgb(181, 181, 181);
}
.disableClick .fa.fa-chevron-circle-left{
    color:grey !important;
        margin-left: -35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right{
    color:grey !important;
        margin-left: 35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick {
    background:lightgrey !important;
}
.leftRightButtons .disableClick:hover {
    background:lightgrey !important;
}


.footerTotalTextSection .itemMeta div input {
    height: 25px;
    padding: 5px;
}
.footerTotalTextSection .itemMeta {
       padding-top: 7px;
}

.purchasePage .footerTotalTextSection .textSection .rightTextSection {
    width: 132px !important;
}
.purchasePage .footerTotalTextSection .textSection .rightTextSection.footerTable {
    width: 48% !important;
}
.purchasePage .footerTable table {
    color: #636360 !important;
}
.purchasePage .footerTable table input {
    width:100%;
    padding:0 5px 0 5px;
    color: #636360 !important;
    text-align: right;
    border:1px solid #cfd7da;
    background:#ebebe4;
    font-size:12px;
}
.purchasePage .footerTable table tbody td {
    padding:0;   
}
.purchasePage .footerTotalTextSection .textSection .leftTextSection {
    width: 26%;
    float: left;
    padding: 5px;
}
.purchasePage  .footerTotalTextSection  .itemMeta.clearfix {
    width: 36%;
}
.purchasePage  .footerTotalTextSection .textSection {
    margin: -2px 0px;
    line-height: 0;
    font-size: 11px;
    width: 54%;
    float: left;
}
.itemSellBtn {
   
    height: auto;
    
}








.btn-bm {
    background: #797979;
    color: white !important;
    border: 1px solid #e9ecef;
}
    .btn-bm:hover {
        background: #626262
    }
.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #797979;
    height: 27px;
    float: left;
    border: 1px solid #e9ecef;
}
.sale .leftRightButtons a:hover {
    background: #626262 !important;
    cursor: pointer;
}

  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background:#626262 !important;
    box-shadow: #4a4a4a 0 1px 3px 0 inset  !important;
    color: #fff;
    font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
    opacity: 0.5;
    background: #797979 ;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
    background: #4a4a4a !important;
    border-color: #797979  !important;
    color: aliceblue !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #797979  !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {

    background: #626262 !important;
}
.dd-select {
    background: #797979  !important;
}
.allItemsView .itemsHeader {
    background: #4a4a4a  !important;
}
.badge-bm {
    background-color: #797979 ;
}
.Ime-header {
    background: #4a4a4a;
}
#powerTip {
    background-color: #797979 !important;
}

    #powerTip:before {
        color: #797979 !important;
    }
.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}