﻿  
.saleEdit [name=Invoice]{
        width: 40%;
    float: left;
}
.saleEdit .leftRightButtons{
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}
.saleEdit .leftRightButtons a{
   background: #c2c784 ;
    width: 45%;
    height: 91%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
        padding: 3px;
}
.saleEdit .leftRightButtons a:hover{
          background: #b7e2a0 !important;
  
}


 .itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}
 @media (max-width: 767px) {
  .itemMeta i {
  font-size: 10px !important;
   
    padding: 7px 0 0px 0px;

  }
}
 
 .userlLabel, .itemMeta .selectDiv {
    background:#c2c784 !important
}
 .searchAppSection  ,.footerTotalSection,  .itemsFooter, .editSaleInvoice2Section  .allItemsView .itemsHeader{
    /*background:#3ba500 !important;*/
   
         background: #abb16d !important;

}
input {
    color: #788029 !important;
}
   .itemMeta div{
      border: 1px  #3ba500 !important;
      border-radius:2px  !important;  }

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item  {
                 color: #abb16d !important;
           
         }
*::-webkit-scrollbar-thumb {
    background-color: #c2c784 !important;
    border-radius: 10px !important;
}
.ui-state-focus {
			 background-color:#a9c798 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
	   
		 .ui-state-active {
			 background-color:#a9c798 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
.ui-menu-item {
			 width: 100%;
			 background-color: #EEEEEE;
			 height: 35px;
			 color: rgb(245, 176, 104);
			 padding: 8px 10px 0px 12px
	
		 }
         .ui-menu-item {
   
   border: 0px solid !important;
   }
         .ManSelectDiv .dd-options {
	 top: 24px;
	
 }
    .dd-options {
	 top: 26px;
		
 }


     .allItemsView .descriptionData input,   allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
   
   border: 0.5px solid #c2c784;
   background:#F5F5F5;
   
}

.itemSellBtn, .loginBtn {
   
    border: 1px solid #abb16d;
}
.allItemsView .itemsSection .itemRow:hover {
   background:#c5e5b3;
}
.disableClick .fa.fa-chevron-circle-left{
    color:grey !important;
        margin-left: -35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right{
    color:grey !important;
        margin-left: 35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick {
    background:lightgrey !important;
}
.leftRightButtons .disableClick:hover {
    background:lightgrey !important;
}






.btn-bm {
    background: #c2c784;
    color: white !important;
    border: 1px solid #cfd7da;
}
.btn-bm:hover {
    background: #d3d89b;
}
.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #c2c784;
border: 1px solid #d3d89b;
}
.sale .leftRightButtons a:hover {
    background: #d3d89b !important;
}

.dd-option {
    background: #cbceae !important;
}
  .dd-option:hover {
    background:#c2c784 !important
}
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background:#c2c784 !important;
    box-shadow: #c2c784 0 1px 3px 0 inset  !important;
    color: #fff;
    font-weight: 700;
}
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box >div >div.xdsoft_disabled {
    opacity: 0.5;
    background: #cbceae;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}
  .xdsoft_datetimepicker .xdsoft_calendar th {
    background:#c2c784 !important;
    border-color:#c2c784 !important;
    color: aliceblue !important;
}
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #abb16d;
}

.dd-select {
    background:#c2c784  !important;
}
.allItemsView .itemsHeader {
    background: #c2c784  !important;
}
.badge-bm {
    background-color: #c2c784;
}
.Ime-header {
    background: #c2c784;
}
#powerTip {
    background-color: #c2c784 !important;
}

    #powerTip:before {
        color: #c2c784 !important;
    }
.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}