﻿  
.saleEdit input.InvoiceNumber {
    width: 40% !important;
    float: left !important;
}
.saleEdit .leftRightButtons{
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}
.saleEdit .leftRightButtons a{
   background: #53C89B ;
    width: 45%;
    height: 91%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-left: 3%;                                
        padding: 3px;
}
.saleEdit .leftRightButtons a:hover{
          background: #aed3c5 !important;
  
}

 .itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}
 @media (max-width: 767px) {
  .itemMeta i {
  font-size: 10px !important;
   
    padding: 7px 0 0px 0px;

  }
}
 
 .userlLabel, .itemMeta .selectDiv {
   background: #47af87  !important;
}
.searchAppSection, .footerTotalSection, .itemsFooter, .editSaleInvoice2Section .allItemsView .itemsHeader {
    background: #36906d !important;
} 
  input{
    color:#46b288 !important;

  }
.footerTotalSection input {
    color: #aaefd4 !important;
}
   .itemMeta div{
      border: 1px  #3ba500 !important;
      border-radius:2px  !important;  }
   .itemSellBtn {
      color: #46b288 !important;
  }

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item  {
                 color: #46b288 !important;
           
         }
*::-webkit-scrollbar-thumb {
    background-color: #46b288 !important;
    border-radius: 10px !important;
}
.ui-state-focus {
			 background-color:#aed3c5 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
	   
		 .ui-state-active {
			 background-color:#a9c798 !important;
			 color: white !important;
			 border: 0 !important;
			 cursor: pointer
		 }
.ui-menu-item {
			 width: 100%;
			
			 height: 35px;
			 color: rgb(245, 176, 104);
			 padding: 8px 10px 0px 12px
	
		 }
         .ui-menu-item {
   
   border: 0px solid !important;
   }
         .ManSelectDiv .dd-options {
	 top: 24px;
		
 }
    .dd-options {
	 top: 26px;
	
 }
.dd-option {
    background: rgb(98, 199, 160) !important;
}
    .dd-option:hover {
        background: #47af87 !important;
      
    }

     .allItemsView .descriptionData input,   allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
   
   border: 0.5px solid #46b288;
   background:#F5F5F5;
   
}

.itemSellBtn, .loginBtn {
   
    border: 1px solid #46b288;
}

.disableClick .fa.fa-chevron-circle-left{
    color:grey !important;
        margin-left: -35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.disableClick .fa.fa-chevron-circle-right{
    color:grey !important;
        margin-left: 35px;
     -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.leftRightButtons .disableClick {
    background:lightgrey !important;
}
.leftRightButtons .disableClick:hover {
    background:lightgrey !important;
}
#ContentPlaceHolder1_Invoice {
    width: 40% !important;
    float: left;
}
.title.saleEdit {
    background: #f4f4f4 !important;
    border-bottom: 2px solid #46b288;
    color: #46b288;
}
.saleEdit .form-control-labal {
    background: #bac7cf !important;
    color: #00683f;
}
.saleEdit .checkboxText {
   
    
    color: #46b288!important;
}
.allItemsView .dd-select a {
    color: #f4f4f4;
   
}
.allItemsView .dd-pointer {
    color: #f4f4f4 !important;
}

.allItemsView .dd-select {
    background: rgb(23, 175, 116) !important;
}
.allItemsView .dd-option {
    background: #39de9f !important;
}
.dd-select {
    background: rgb(53, 199, 143) !important;
}









.btn-bm {
    background: #47af87 ;
    color: white !important;
    border: 1px solid #cfd7da;
}
.btn-bm:hover {
    background:#50d7a3
}
.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #47af87 ;
    height: 27px;
    float: left;
border: 1px solid #62e0b0;
}
.sale .leftRightButtons a:hover {
    background: #62e0b0!important;
    cursor: pointer;
}

  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background:#47af87  !important;
    box-shadow: #47af87  0 1px 3px 0 inset  !important;
    color: #fff;
    font-weight: 700;
}
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box >div >div.xdsoft_disabled {
    opacity: 0.5;
    background: #cbceae;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}
  .xdsoft_datetimepicker .xdsoft_calendar th {
    background:#47af87  !important;
    border-color:#47af87  !important;
    color: aliceblue !important;
}
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #abb16d;
}
.dd-select {
    background: #47af87  !important;
}
.dd-select {
    background:#47af87   !important;
}
.allItemsView .itemsHeader {
    background: #36906d !important;
}
.badge-bm {
    background-color: #47af87 ;
}
.Ime-header {
    background: #36906d;
}
#powerTip {
    background-color: #47af87 !important;
}

    #powerTip:before {
        color: #47af87 !important;
    }
.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}