﻿     body {
  color: #444;
}
.item {
  
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: none;
}
#chartOfAccount{

}
.account {
       font-weight: bold;
    padding: 9px;
       background: #748f9f30;
    color: #416e86;
    font-weight: 700;
    position: relative;
    transition: all .5s;
    margin: 2px;
       padding-left: 0;
    border-radius: 5px;
    overflow: hidden;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
}
.account > span.collapseTree,.account > span.unCollapseableTree {
   
    padding: 7px 22px;
    position: relative;
    cursor: pointer;
}
.account > span.collapseTree {
    color: #00324a;
    background: #0d384d52;
}
.account > span.unCollapseableTree {
        background: #cacac561;
}
.accountCode {
    color: #00b477;
}
.account:hover {
    background: #ebebeb;
}
#demo li {
    /* background: #4e7892; */
    color: #4e7892;
    list-style: none;
    padding: 2px;
    margin-bottom: 0;
    transition: all .5s;
}
li.add {
    padding: 7px;
    /* border-radius: 5px; */
    background: #dd4d55;
    font-size: 18px;
    text-align: center;
    color: #dadada; transition: all .5s;
        margin: 2px;
}
.actionBtns .fas {
    cursor: pointer;
    font-size: 17px;
    margin:0 5px
}
i.fas.fa-edit {
    color: #2196F3;
}
i.fas.fa-times {
    color: #d70026;
}i.fas.fa-plus {
    color: #00b477;
}
li.add:hover {
    background: #e36f76;
}.actionBtns {
    float: right;
}
.collapseTree .fas {
    position: absolute;
    left: 13px;
    transition:.5s;
       font-size: 16px;
     margin-top: 2px;
    margin-left: 2px;
}
i.fas.fa-minus.second {
    transform: rotate(-360deg);
}
i.fas.fa-minus.first {
    transform: rotate(-450deg);
}
.open i.fas.fa-minus {
    transform: rotate(-0deg);
}
ul {
    padding-top: 1px;
    padding-bottom: 1px;
}
.account.collapsable ~ ul {
        border-left: 1px solid rgba(0, 50, 74, 0.17);
    margin-left: 21px;
}
div#chartOfAccounts {
    padding-right: 15px;
}
.upperCircle {
    width: 30px;
    position: absolute;
    height: 30px;
    right: 0;
    top: 0;
    color: #00324a;
    border-radius: 50%;
}
.innerCircle {
    width: 20px;
    position: absolute;
    height: 20px;
    border-radius: 50%;
    background: #dce1e4;
    left: 5px;
    top: 5px;
    text-align: center;
    box-shadow: 0 0 0 4px;
    z-index:1
}
.addRootAccount{
    text-align:center;
}
.addRootAccount i.fas.fa-plus {
    font-size: large;
}
.GLSearchTextbox {
    position: absolute;
    right: 128px;
    top: 3px;
        width: 150px;
}
body,.modal {
    padding-right:0px !important
}span.circleWrapper {
     position: absolute;
    right: 90px;
        top: 6px;
    width: 30px;
    height: 30px; 
}

.modal-dialog span.innerCircle.accountLevel {
    width: 30px;
    height: 30px;
    padding: 4px;
    font-size: 18px;
    background: #f7f7f7;
}
.modal-dialog span.upperCircle {
      width: 40px;
    height: 40px;
   background: #bb4f52;
    left: 7px;
    top: 22px;
    position: sticky;
    float: left;
}
label.lvl {
      float: left;
    position: sticky !important;
    margin-top: 10px;
    margin-left: 15px;
}
.level-wrapper {
    padding: 11px;
    float: left;
}
.modal .top-row:after {
    content: "";
    display: table;
    clear: both;
}


.modal .top-row {
     
    margin-bottom: 15px;
     padding: 8px;
    position: relative;
}
.modal .top-row.parent {
      background: #5f798214;
  
    padding-top: 40px;
  
}
.modal .top-row > span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #ba4d50;
}
    .modal .top-row > div:last-child {
        margin: 0;
    }
