
$main_background_color: #007bff;
$main_color: #007bff;
$main_color_light_shade: #56a6fb;
$main_color_vlight_shade: #8fc5ff;
$main_color_dark_shade: #0050a5;
$main_color_hover_shade: #8fc5ff;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #007bff;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #007bff;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #56a6fb;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #e6f2ff;

#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-blue {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';