
$main_background_color: #8ea376;
$main_color: #8ea376;
$main_color_light_shade: #a5ba8d;
$main_color_vlight_shade: #b4ca9b;
$main_color_dark_shade: #798d62;
$main_color_hover_shade: #b4ca9b;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #8ea376;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #8ea376;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #a5ba8d;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #f4ffe5;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-green {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';