
$main_background_color: #7867A7;
$main_color: #7867A7;
$main_color_light_shade: #9487b9;
$main_color_vlight_shade: #a99cce;
$main_color_dark_shade: #514575;
$main_color_hover_shade: #a99cce;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #7867A7;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #7867A7;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #9487b9;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #f1ecff;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-purple {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';