
$main_background_color: #937D97;
$main_color: #937D97;
$main_color_light_shade: #a992ad;
$main_color_vlight_shade: #bfa8c3;
$main_color_dark_shade: #7b6080;
$main_color_hover_shade: #bfa8c3;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #937D97;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #937D97;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #bfa8c3;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #efe8f1;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-purplish {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';