
$main_background_color: #7eb69f;
$main_color: #7eb69f;
$main_color_light_shade: #9ed8c0;
$main_color_vlight_shade: #bee5d5;
$main_color_dark_shade: #40705c;
$main_color_hover_shade: #bee5d5;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #7eb69f;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #7eb69f;
$matt_black: #212529;
$dark_blue_color: #283959;
$box_shadow_color: #9ed8c0;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #e9fff6;
#customize-menu {
    .customize {
        .customize-item {
            .customize-colors {
                li {
                    .color-item.color-seagreen {
                        background-color: $main_color !important;
                        border-color: $main_color !important;
                    }
                }
            }
        }
    }
}

@import 'app';