/* Handle */
.main_color {
    color: $main_color !important;

    &:after, span:after, span, &:before, span:before {
        color: $main_color !important;
    }
}

.main_color_light_shade {
    color: $main_color_light_shade !important;

    &:after, span:after, span, &:before, span:before {
        color: $main_color_light_shade !important;
    }
}

.main_color_dark_shade {
    color: $main_color_dark_shade !important;

    &:after, span:after, span, &:before, span:before {
        color: $main_color_dark_shade !important;
    }
}

.main_color_vlight_shade {
    color: $main_color_vlight_shade !important;

    &:after, span:after, span, &:before, span:before {
        color: $main_color_vlight_shade !important;
    }
}

.main_background_color {
    background-color: $main_background_color !important;

    &:after, span:after, span, &:before, span:before {
        background-color: $main_background_color !important;
    }
}

#ref {
    .color-primary {
        color: $main_color;
    }

    .chart {
        .color-primary {
            color: $main_color;
        }

        .color-secondary {
            color: $main_color_light_shade;
        }
    }
}

::-moz-selection {
    background: $main_color;
    color: white;
}

::selection {
    background: $main_color;
    color: white;
}

.auth-container {
    .auth-header {
        text-align: center;
        border-bottom: 1px solid $main_color;
    }
}

.alert.alert-primary {
    color: $white_color;
    background-color: $main_background_color;
    border-color: $border_color;

    hr {
        border-top-color: $border_color;
    }
}

tfoot,
thead {
    tr {
        background: $main_background_color;
        border-bottom: 2px solid $main_color;
    }
}

.userDetails {
    color: $main_color;
}

.popover-header {
    color: white;
    background-color: $main_background_color;
}

span.commentaryNumber, span.questionNumber {
    background: $main_color;
}



.card {
    .card-header {
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    border-top-color: $main_color;
                    border-bottom-color: $transparent;
                    opacity: 1;

                    &:focus {
                        opacity: 1;
                        background-color: $white_color;
                        border-color: $border_color_grey;
                        border-top-color: $main_color;
                    }

                    &:hover {
                        opacity: 1;
                        background-color: $white_color;
                        border-color: $border_color_grey;
                        border-top-color: $main_color;
                    }
                }
            }
        }
    }
}

.card.card-primary {
    border-color: $border_color;

    > .card-header {
        background-color: $main_background_color;
        border-color: $border_color;
    }
}

.btn.btn-primary {
    color: $matt_black;
    background-color: $main_background_color;
    border-color: $border_color;

    &:hover {
        color: $white_color;
        background-color: $main_color_light_shade;
        border-color: $main_color_dark_shade;
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
        box-shadow: 0 0 0 .2rem $box_shadow_color;
    }

    &:disabled {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;
    }

    &:not(:disabled) {
        &:not(.disabled).active {
            color: $white_color;
            background-color: $main_background_color;
            border-color: $main_color_dark_shade;

            &:focus {
                -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                box-shadow: 0 0 0 .2rem $box_shadow_color;
            }
        }

        &:not(.disabled) {
            &:active {
                color: $white_color;
                background-color: $main_background_color;
                border-color: $main_color_dark_shade;

                &:focus {
                    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                    box-shadow: 0 0 0 .2rem $box_shadow_color;
                }
            }
        }
    }
}

.btn.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
    box-shadow: 0 0 0 .2rem $box_shadow_color;
}

.btn.btn-primary.disabled {
    color: $matt_black;
    background-color: $main_background_color;
    border-color: $border_color;
}

.show {
    > .btn.btn-primary.dropdown-toggle {
        color: $white_color;
        background-color: $main_background_color;
        border-color: $main_color_dark_shade;

        &:focus {
            -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
            box-shadow: 0 0 0 .2rem $box_shadow_color;
        }
    }

    > .btn.btn-primary-outline.dropdown-toggle {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;

        &:focus {
            -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
            box-shadow: 0 0 0 .2rem $box_shadow_color;
        }
    }
}

.btn.btn-primary-outline {
    color: $main_color;
    background-color: $transparent;
    background-image: none;
    border-color: $border_color;

    &:hover {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
        box-shadow: 0 0 0 .2rem $box_shadow_color;
    }

    &:disabled {
        color: $main_color;
        background-color: $transparent;
    }

    &:not(:disabled) {
        &:not(.disabled).active {
            color: $matt_black;
            background-color: $main_background_color;
            border-color: $border_color;

            &:focus {
                -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                box-shadow: 0 0 0 .2rem $box_shadow_color;
            }
        }

        &:not(.disabled) {
            &:active {
                color: $matt_black;
                background-color: $main_background_color;
                border-color: $border_color;

                &:focus {
                    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                    box-shadow: 0 0 0 .2rem $box_shadow_color;
                }
            }
        }
    }
}

.btn.btn-primary-outline.focus {
    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
    box-shadow: 0 0 0 .2rem $box_shadow_color;
}

.btn.btn-primary-outline.disabled {
    color: $main_color;
    background-color: $transparent;
}

.dropdown-menu {
    .dropdown-item {
        &:hover {
            color: $main_color !important;
            background: none;
            background-color: $whitesmoke;
        }
    }
}

.input-group {
    span.input-group-addon.focus {
        background-color: $main_background_color;
        color: $white_color;
    }
}

.form-control.underlined {
    &:focus {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid $main_color;
    }
}

.has-error {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.has-success {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.has-warning {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.form-control.boxed {
    &:focus {
        border: 1px solid $white_color;
    }
}

.checkbox {
    &:checked {
        & + span {
            &:before {
                color: $main_color;
            }
        }
    }
}

.radio {
    &:checked {
        & + span {
            &:before {
                color: $main_color;
            }
        }
    }
}

.footerTotalTextSection {
    .checkbox {
        &:checked {
            & + span {
                &:before {
                    color: $white_color;
                }
            }
        }
    }

    .radio {
        &:checked {
            & + span {
                &:before {
                    color: $white_color;
                }
            }
        }
    }
}

.images-container {
    .image-container.active {
        border-color: $border_color;
    }

    .image-container.new {
        opacity: .6;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        border-style: dashed;
        border: 1px $main_color solid;
        color: $main_color;
    }
}

.item-list {
    .item-actions-dropdown.active {
        .item-actions-toggle-btn {
            color: $main_color;
        }
    }
}

.logo {
    .l {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $main_background_color;
        position: absolute;
    }
}

.modal-body.modal-tab-container {
    .modal-tabs {
        .nav-link.active {
            color: $main_color;
            border-bottom: 2px solid $main_color;
        }

        .nav-link {
            &:hover {
                color: $main_color;
                border-bottom: 2px solid $main_color;
            }
        }
    }
}

a {
    &:not(.btn) {
        &:hover {
            text-decoration: underline;
            color: $main_color_light_shade;
        }
    }
}

.nav.nav-tabs-bordered {
    border-color: $border_color;

    & + .tab-content {
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: $border_color;
        padding: 10px 20px 0;
    }

    .nav-item {
        .nav-link {
            &:hover {
                color: $white_color;
                background-color: $main_background_color;
                border: 1px solid $main_color;
            }
        }

        .nav-link.active {
            border-color: $border_color;
            border-bottom-color: $transparent;
        }
    }
}

.nav.nav-pills {
    .nav-item {
        .nav-link.active {
            border-color: $border_color;
            border-bottom-color: $transparent;
            background-color: $main_background_color;

            &:hover {
                background-color: $main_background_color;
                color: $white_color;
            }
        }
    }
}

.nav {
    > li {
        > a {
            color: $dark_blue_color !important;
        }
    }
}

.disciplineActionBtns {
    .custom-btn {
        background: $main_color !important;
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $main_color;
        }
    }

    .page-item.active {
        .page-link {
            color: $white_color;
            border-color: $border_color;
            background-color: $main_background_color;

            &:focus {
                color: $white_color;
                border-color: $border_color;
                background-color: $main_background_color;
            }

            &:hover {
                color: $white_color;
                border-color: $border_color;
                background-color: $main_background_color;
            }
        }
    }
}

#nprogress {
    .bar {
        background: $main_color !important;

        .peg {
            -webkit-box-shadow: 0 0 10px $main_color, 0 0 5px $main_color;
            box-shadow: 0 0 10px $main_color, 0 0 5px $main_color;
        }
    }

    .spinner {
        .spinner-icon {
            border-top-color: $main_color !important;
            border-left-color: $main_color !important;
        }
    }
}

*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: $main_color;

    *:window-inactive {
        background: $main_color;
    }
}

.attributesRow {
    &:nth-child(even) {
        background: $Row_even_color_1;
    }
}

.allAttributesView {
    .attributesHeader {
        background: $main_color;
    }
}

.attribute-type-title {
    background: $main_color;
}

.sidebar-toggle-btn {
    background: $main_color;
}

#powerTip {
    background-color: $main_color_dark_shade !important;
}

.page-header {
    color: $main_color;
    border-bottom: 1px solid $main_color;
}

.header {
    border-bottom: 1px solid $main_color !important;

    .custom-button {
        color: $main_color !important;
    }
}

.addQuestionToWord {
    background: $main_color;
    background: $main_color;
}

.btn-3c:before {
    color: $main_color;
}

.btn-3c:active {
    box-shadow: 0 3px $main_color_dark_shade !important;
}

.btn-3:active {
    background: $main_color_dark_shade !important;
}

.btn-3c:active:before {
    color: $main_color_dark_shade !important;
}

.form-control:focus {
    border-color: $main_color_light_shade;
    box-shadow: 0 0 0 0.2rem $main_color_light_shade;
}

.btn-3c {
    box-shadow: 0 3px $main_color_light_shade;
}

.navigation-confirmation-box {
    background: $main_color;
}

#powerTip.n {
    &:before {
        border-top-color: $main_color_dark_shade !important;
    }
}

#powerTip.ne {
    &:before {
        border-top-color: $main_color_dark_shade !important;
    }
}

#powerTip.nw {
    &:before {
        border-top-color: $main_color_dark_shade !important;
    }
}

#powerTip.nw-alt {
    &:before {
        border-top-color: $main_color_dark_shade !important;
    }
}

#powerTip.ne-alt {
    &:before {
        border-top-color: $main_color_dark_shade !important;
    }
}

.swal2-popup {
    .swal2-styled.swal2-confirm {
        background-color: $main_color !important;
        border-left-color: $main_color !important;
        border-right-color: $main_color !important;

        &:focus {
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px $main_color !important;
        }
    }
}

.item-img i {
    color: $main_color_dark_shade !important;
}

.underline-animation {
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $main_background_color;
    content: '';
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.text-primary {
    color: $main_color;
}

.dashboard-page {
    #dashboard-sales-map {
        .jqvmap-zoomin {
            background-color: $main_background_color;
            height: 20px;
            width: 20px;
            line-height: 14px;
        }

        .jqvmap-zoomout {
            background-color: $main_background_color;
            height: 20px;
            width: 20px;
            line-height: 14px;
        }
    }

    .stats {
        .stat-progress {
            height: 2px;
            margin: 5px 0;
            color: $main_color;
            background-color: $border_color_grey;

            .progress-bar {
                background-color: $main_background_color;
            }
        }
    }
}

header {
    background-color: $white_color;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .header-block-collapse {
        .collapse-btn {
            background: none;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: $main_color;
            font-size: 24px;
            line-height: 40px;
            border-radius: 0;
            outline: none;
            padding: 0 10px;
            vertical-align: initial;
        }
    }

    .header-block-nav {
        > ul {
            > li {
                > a {
                    &:hover {
                        color: $main_color;
                    }
                }
            }
        }

        .notifications.new {
            .counter {
                color: $main_color;
                font-weight: bold;
            }
        }

        .notifications-dropdown-menu {
            footer {
                a {
                    &:hover {
                        background-color: $light_grey_color;
                        color: $main_color;
                    }
                }
            }
        }

        .profile {
            .arrow {
                color: $main_color;
            }
        }

        .profile-dropdown-menu {
            a {
                .icon {
                    color: $main_color;
                    text-align: center;
                    width: 18px;
                    font-size: 17px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.modal {
    .modal-header {
        background-color: $main_background_color;
        color: $white_color;
    }
}

.disciplineActionBtns {
    > a {
        display: inline-block !important;
    }
}

.sidebar {
    .sidebar-menu {
        > li {
            > .sidebar-nav {
                > li {
                    > .sidebar-nav {
                        > li.active {
                            > .sidebar-nav {
                                > li.active {
                                    > .sidebar-nav {
                                        > li.active {
                                            > .sidebar-nav {
                                                > li.active {
                                                    > .sidebar-nav {
                                                        > li.active {
                                                            > .sidebar-nav {
                                                                > li.active {
                                                                    > .sidebar-nav {
                                                                        > li.active {
                                                                            > .sidebar-nav {
                                                                                > li.active {
                                                                                    > .sidebar-nav {
                                                                                        > li.active {
                                                                                            > a {
                                                                                                background-color: $main_background_color !important;
                                                                                                color: $white_color;
                                                                                            }
                                                                                        }
                                                                                    }

                                                                                    > a {
                                                                                        background-color: $main_background_color !important;
                                                                                        color: $white_color;
                                                                                    }
                                                                                }
                                                                            }

                                                                            > a {
                                                                                background-color: $main_background_color !important;
                                                                                color: $white_color;
                                                                            }
                                                                        }
                                                                    }

                                                                    > a {
                                                                        background-color: $main_background_color !important;
                                                                        color: $white_color;
                                                                    }
                                                                }
                                                            }

                                                            > a {
                                                                background-color: $main_background_color !important;
                                                                color: $white_color;
                                                            }
                                                        }
                                                    }

                                                    > a {
                                                        background-color: $main_background_color !important;
                                                        color: $white_color;
                                                    }
                                                }
                                            }

                                            > a {
                                                background-color: $main_background_color !important;
                                                color: $white_color;
                                            }
                                        }
                                    }

                                    > a {
                                        background-color: $main_background_color !important;
                                        color: $white_color;
                                    }
                                }
                            }

                            > a {
                                background-color: $main_background_color !important;
                                color: $white_color;
                            }
                        }

                        > li {
                            > a {
                                padding: 10px 18px 10px 10px !important;
                                border-left: 10px solid $main_color !important;
                            }

                            > .sidebar-nav {
                                > li {
                                    > a {
                                        padding: 10px 18px 10px 10px !important;
                                        border-left: 15px solid $main_color !important;
                                    }

                                    > .sidebar-nav {
                                        > li {
                                            > a {
                                                padding: 10px 18px 10px 10px !important;
                                                border-left: 20px solid $main_color !important;
                                            }

                                            > .sidebar-nav {
                                                > li {
                                                    > a {
                                                        padding: 10px 18px 10px 10px !important;
                                                        border-left: 25px solid $main_color !important;
                                                    }

                                                    > .sidebar-nav {
                                                        > li {
                                                            > a {
                                                                padding: 10px 18px 10px 10px !important;
                                                                border-left: 30px solid $main_color !important;
                                                            }

                                                            > .sidebar-nav {
                                                                > li {
                                                                    > a {
                                                                        padding: 10px 18px 10px 10px !important;
                                                                        border-left: 35px solid $main_color !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    > a {
                        padding: 10px 18px 10px 10px !important;
                        border-left: 5px solid $main_color !important;
                    }
                }

                > li.active {
                    > a {
                        background-color: $main_background_color !important;
                        color: $white_color;
                    }
                }
            }
        }

        > li.active {
            > a {
                background-color: $main_background_color !important;
                color: $white_color;
            }
        }
    }
}

.sidebar {
    .sidebar-menu {
        > li {
            > .sidebar-nav {
                > li {
                    > .sidebar-nav {
                        > li.open {
                            > .sidebar-nav {
                                > li.open {
                                    > .sidebar-nav {
                                        > li.open {
                                            > .sidebar-nav {
                                                > li.open {
                                                    > .sidebar-nav {
                                                        > li.open {
                                                            > .sidebar-nav {
                                                                > li.open {
                                                                    > .sidebar-nav {
                                                                        > li.open {
                                                                            > .sidebar-nav {
                                                                                > li.open {
                                                                                    > .sidebar-nav {
                                                                                        > li.open {
                                                                                            > a {
                                                                                                background-color: $main_background_color !important;
                                                                                                color: $white_color;
                                                                                            }
                                                                                        }
                                                                                    }

                                                                                    > a {
                                                                                        background-color: $main_background_color !important;
                                                                                        color: $white_color;
                                                                                    }
                                                                                }
                                                                            }

                                                                            > a {
                                                                                background-color: $main_background_color !important;
                                                                                color: $white_color;
                                                                            }
                                                                        }
                                                                    }

                                                                    > a {
                                                                        background-color: $main_background_color !important;
                                                                        color: $white_color;
                                                                    }
                                                                }
                                                            }

                                                            > a {
                                                                background-color: $main_background_color !important;
                                                                color: $white_color;
                                                            }
                                                        }
                                                    }

                                                    > a {
                                                        background-color: $main_background_color !important;
                                                        color: $white_color;
                                                    }
                                                }
                                            }

                                            > a {
                                                background-color: $main_background_color !important;
                                                color: $white_color;
                                            }
                                        }
                                    }

                                    > a {
                                        background-color: $main_background_color !important;
                                        color: $white_color;
                                    }
                                }
                            }

                            > a {
                                background-color: $main_background_color !important;
                                color: $white_color;
                            }
                        }

                        > li {
                            > a {
                                padding: 10px 18px 10px 10px !important;
                                border-left: 10px solid $main_color !important;
                            }

                            > .sidebar-nav {
                                > li {
                                    > a {
                                        padding: 10px 18px 10px 10px !important;
                                        border-left: 15px solid $main_color !important;
                                    }

                                    > .sidebar-nav {
                                        > li {
                                            > a {
                                                padding: 10px 18px 10px 10px !important;
                                                border-left: 20px solid $main_color !important;
                                            }

                                            > .sidebar-nav {
                                                > li {
                                                    > a {
                                                        padding: 10px 18px 10px 10px !important;
                                                        border-left: 25px solid $main_color !important;
                                                    }

                                                    > .sidebar-nav {
                                                        > li {
                                                            > a {
                                                                padding: 10px 18px 10px 10px !important;
                                                                border-left: 30px solid $main_color !important;
                                                            }

                                                            > .sidebar-nav {
                                                                > li {
                                                                    > a {
                                                                        padding: 10px 18px 10px 10px !important;
                                                                        border-left: 35px solid $main_color !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    > a {
                        padding: 10px 18px 10px 10px !important;
                        border-left: 5px solid $main_color !important;
                    }
                }

                > li.open {
                    > a {
                        background-color: $main_background_color !important;
                        color: $white_color;
                    }
                }
            }
        }

        > li.open {
            > a {
                background-color: $main_background_color !important;
                color: $white_color;
            }
        }
    }
}

.sidebar {
    > .sidebar-menu {
        > li.active {
            > a {
                > .arrow {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                }
            }
        }
    }
}

.btn-blue {
    color: $white_color !important;
    background: $main_color;
}

.detailPage {
    .attributeActive {
        > a {
            background: $main_color;
            color: $white_color !important;
        }
    }
}

#modal-media {
    .images-container {
        .image-container {
            &:hover {
                border-color: $main_color_light_shade;
            }
        }

        .image-container.active {
            border-color: $main_color_light_shade;
        }
    }

    .upload-container {
        .dropzone {
            position: relative;
            border: 2px dashed $main_color;
            height: 270px;

            .dz-message-block {
                .dz-message {
                    margin: 0;
                    font-size: 24px;
                    color: $main_color;
                    width: 230px;
                }
            }
        }
    }
}

#customize-menu {
    .customize {
        width: 240px;
        color: $white_color;
        background-color: $matt_black;
        text-align: center;
        padding: 10px 15px;
        border-top: 2px solid $main_color;

        .customize-item {
            .radio {
                &:checked {
                    & + span {
                        &:before {
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}

.backToNavigationWord {
    background: $main_color;
}

.ringring {
    border: 10px solid $main_color;
}





.saleEdit {
    [name=Invoice] {
        width: 40%;
        float: left;
    }

    .leftRightButtons {
        width: 27%;
        float: right;
        border: 0;
        padding: 0;
        margin: 0;

        a {
            background: $main_color_light_shade;
            width: 45%;
            height: 91%;
            float: left;
            border: none;
            border-radius: 5px;
            margin-left: 3%;
            padding: 3px;
        }
    }
}

.itemMeta {
    i {
        font-size: 16px !important;
        color: $white_color !important;
        width: 100% !important;
        float: left !important;
        background: transparent !important;
        padding: 0 !important;
    }

    .selectDiv {
        background: $main_color_light_shade !important;
    }

    div {
        border-radius: 2px !important;
    }
}

.userlLabel {
    background: $main_color_light_shade !important;
}

.searchAppSection {
    background: $main_color !important;
}

.footerTotalSection {
    background: $main_color !important;
}

.itemsFooter {
    background: $main_color !important;
}

.editSaleInvoice2Section {
    .allItemsView {
        .itemsHeader {
            background: $main_color !important;
        }
    }
}

input {
    color: $main_color_dark_shade !important;
}

th {
    background: $main_color_light_shade !important;
    color: $white_color !important;
}

.ui-menu-item {
    color: $main_color !important;
    width: 100%;
    height: 35px;
    padding: 8px 10px 0 12px;
    border: 0 solid !important;
}

* {
    &::-webkit-scrollbar-thumb {
        background-color: $main_color_light_shade !important;
        border-radius: 10px !important;
    }
}

.ui-state-focus {
    background-color: $main_color_vlight_shade !important;
    color: $white_color !important;
    border: 0 !important;
    cursor: pointer;
}

.ui-state-active {
    background-color: $main_color_vlight_shade !important;
    color: $white_color !important;
    border: 0 !important;
    cursor: pointer;
}

.ManSelectDiv {
    .dd-options {
        top: 24px;
    }
}

.dd-options {
    top: 26px;
}

.allItemsView {
    .descriptionData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .discountData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .QtyData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .ItemDData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .dealData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .RateData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .NAmountData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .PAmountData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .GAmountData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }

    .itemsHeader {
        background: $main_color_light_shade !important;
    }
}

.allItemsView {
    .descriptionData {
        input {
            border: .5px solid $main_color_light_shade;
            background: #F5F5F5;
        }
    }
}

.itemSellBtn {
    border: 1px solid $main_color;
}

.loginBtn {
    border: 1px solid $main_color;
}

.disableClick {
    .fa.fa-chevron-circle-left {
        color: $disabled_element_color !important;
        margin-left: -35px;
        -moz-transition: all .7s;
        -o-transition: all .7s;
        -webkit-transition: all .7s;
        transition: all .7s;
    }

    .fa.fa-chevron-circle-right {
        color: $disabled_element_color !important;
        margin-left: 35px;
        -moz-transition: all .7s;
        -o-transition: all .7s;
        -webkit-transition: all .7s;
        transition: all .7s;
    }
}

.leftRightButtons {
    .disableClick {
        background: lightgrey !important;

        &:hover {
            background: lightgrey !important;
        }
    }
}

.btn-bm {
    background: $main_color_light_shade;
    color: $white_color !important;
    border: 1px solid #cfd7da;

    &:hover {
        background: $main_color_hover_shade;
    }
}

.partySection.sale {
    .leftRightButtons {
        a {
            background: $main_color_light_shade;
            border: 1px solid $main_color_hover_shade;
        }

        input[type=submit] {
            background: $main_color_light_shade;
            border: 1px solid $main_color_hover_shade;
        }

        a.disableClick {
            background: #bebebe !important;
        }

        input[type=submit].disableClick {
            background: #bebebe !important;
        }
    }
}

.sale {
    .leftRightButtons {
        a {
            &:hover {
                background: $main_color_hover_shade !important;
            }
        }
    }
}

.dd-option {
    background: $main_color_vlight_shade !important;

    &:hover {
        background: $main_color_light_shade !important;
    }
}

.xdsoft_datetimepicker {
    .xdsoft_calendar {
        td.xdsoft_default {
            background: $main_color_light_shade !important;
            box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
            color: $white_color;
            font-weight: 700;
        }

        td.xdsoft_current {
            background: $main_color_light_shade !important;
            box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
            color: $white_color;
            font-weight: 700;
        }

        td.xdsoft_other_month {
            opacity: .5;
            background: $main_color_vlight_shade;
            color: $black_color;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            cursor: default;
        }

        td.xdsoft_disabled {
            opacity: .5;
            background: $main_color_vlight_shade;
            color: $black_color;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            cursor: default;
        }

        th {
            background: $main_color_light_shade !important;
            border-color: $main_color_light_shade !important;
            color: $black_color !important;
        }

        td.xdsoft_today {
            color: $main_color;
        }
    }

    .xdsoft_timepicker {
        .xdsoft_time_box {
            > div {
                > div.xdsoft_current {
                    background: $main_color_light_shade !important;
                    box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
                    color: $white_color;
                    font-weight: 700;
                }
            }
        }
    }

    .xdsoft_time_box {
        > div {
            > div.xdsoft_disabled {
                opacity: .5;
                background: $main_color_vlight_shade;
                color: $black_color;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                cursor: default;
            }
        }
    }
}

.dd-select {
    background: $main_color_light_shade !important;
}

.badge-bm {
    background-color: $main_color_light_shade;
}

.Ime-header {
    background: $main_color_light_shade;
}

#powerTip {
    background-color: $main_color_dark_shade !important;

    &:before {
        color: $main_color_dark_shade !important;
    }
}

@media (max-width: 767px) {
    .itemMeta {
        i {
            font-size: 10px !important;
            padding: 7px 0 0;
        }
    }
}
/* Hoshi */
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100%);
    vertical-align: top;
}

.form {
    .input {

        .radio {
            &:checked {
                & + span {
                    &:before {
                        color: $main_color;
                    }
                }
            }
        }

        .checkbox {
            &:checked {
                & + span {
                    &:before {
                        color: $main_color;
                    }
                }
            }
        }
    }
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 600;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
    &:focus {
        outline: none;
    }
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: 600;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}



.input--hoshi {
    overflow: hidden;
    height: 55px;

    .dd-container {
        position: absolute !important;
        width: 91% !important;
        top: 25px !important;
    }
}

.input__field--hoshi {
    margin-top: 1em;
    padding: 8px 0.15em;
    width: 100%;
    background: transparent;
    color: #595F6E;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 0.5em);
    text-align: left;
    pointer-events: none;
}

.input__label-content--hoshi {
    position: absolute;
}

.input__label--hoshi {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
        margin-top: 2px;
        border-bottom: 2px solid $main_color;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
}

.input--hoshi--dropdown {
    .input__label--hoshi {
        &::before {
            border: 0
        }

        &::after {
            border: 0
        }

        .input__label-content--hoshi {
            left: 15px
        }
    }
}

.input__label--hoshi-color-1::after {
    border-color: hsl(200, 100%, 50%);
}
/*.input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}*/
.input__field--hoshi:focus + .input__label--hoshi::after, .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi, .input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}


@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

.BMSearchWrapper .checkbox:checked + span:before, .BMSearchWrapper .radio:checked + span:before,
.item-col .checkbox:checked + span:before, .item-col .radio:checked + span:before {
    color: $main_color !important;
}

section.form {
    .form-header {
        background: $main_color;
    }
}

select.input__field--hoshi {
    color: $main_color;
}

li.item.item-data.selected .item-row {
    background-color: $main_color_light_shade !important;
}

li .item-row:hover {
    background-color: $main_color_vlight_shade;
}

.main-color {
    color: $main_color !important;
}

.main-light-color {
    color: $main_color_light_shade !important;
}

.main-vlight-color {
    color: $main_color_vlight_shade !important;
}

.main-dark-color {
    color: $main_color_dark_shade !important;
}

.main-background {
    background: $main_color !important;
}

.main-light-background {
    background: $main_color_light_shade !important;
}

.main-vlight-background {
    background: $main_color_vlight_shade !important;
}

.main-dark-background {
    background: $main_color_dark_shade !important;
}



#generic_price_table {
    background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
    background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
    background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
    color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list tbody tr {
    color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list tbody tr {
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list thead tr th {
    padding: 5px !important
}

#generic_price_table .generic_content .generic_feature_list tbody tr:hover {
    background-color: #E4E4E4;
    border-left: 5px solid $main_color;
}

#generic_price_table .generic_content .generic_feature_list tbody tr td:first-child {
    border-left: 5px solid rgba(255, 255, 255, 0.00);
}

#generic_price_table .generic_content .generic_feature_list tbody tr:hover td:first-child {
    border-left: 5px solid $main_color;
}

#generic_price_table .generic_content .generic_price_btn a {
    border: 1px solid $main_color;
    color: $main_color;
}

#generic_price_table .generic_head_price .square-box {
    background: white
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
    border-color: $main_color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $main_color;
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
    background-color: $main_color;
    color: #fff;
}

#generic_price_table {
    margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}

.row .table {
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content {
    overflow: hidden;
    position: relative;
    text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content {
    margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head {
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
    padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
    display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
    font-family: "Lato",sans-serif;
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li .fa {
    padding: 0 10px;
}

#generic_price_table .generic_content .generic_price_btn {
    margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 320px) {
}

@media (max-width: 767px) {
    #generic_price_table .generic_content {
        margin-bottom: 75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3 {
        float: left;
        width: 50%;
    }

    #generic_price_table .col-md-4 {
        float: left;
        width: 50%;
    }

    #generic_price_table .generic_content {
        margin-bottom: 75px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

#generic_price_table_home {
    font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a {
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}

.demo-pic {
    margin: 0 auto;
}

.demo-pic:hover {
    opacity: 0.7;
}

#generic_price_table_home ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}

#generic_price_table_home li {
    float: left;
}

#generic_price_table_home li + li {
    margin-left: 10px;
    padding-bottom: 10px;
}

#generic_price_table_home li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}

#generic_price_table_home .blue {
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .emerald {
    background: $main_color;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .grey {
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .midnight {
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .orange {
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .purple {
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .red {
    background: #E74C3C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .turquoise {
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .divider {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

#generic_price_table_home .divider span {
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}

#generic_price_table_home .itemname {
    text-align: center;
    font-size: 50px;
    padding: 50px 0 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}

#generic_price_table_home .itemnametext {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}

#generic_price_table_home .footer {
    padding: 40px 0;
}

.price-heading {
    text-align: center;
}

.price-heading h1 {
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}

#generic_price_table .itemName {
    position: relative;
    margin-bottom: 20px;
}

#generic_price_table .itemName:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background: $main_color;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.bottom_btn {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}

.demo-button:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none;
}

.bottom_btn:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none;
}
