﻿.divbcColor {
    background-color: #ffffff;
}
.allItemsView {
    background: #ffffff !important;
}
#salesManDD {
    width: 50% !important;
    float: right;
    /* margin-left: 5px; */
}

.searchAppSection .divbcColor a {
    height: 20px;
    padding: 3px;
    border: 1px solid #343a40;
}

.headerSection select {
    height: 26px !important;
    border-radius: 5px;
}

.bgImg {
    background-image: url("/images/arrow.png"), url("/images/banner.jpg");
}

.inv1 {
    border-color: #636360;
}

.inv3 {
    margin-top: 0px !important;
    border-color: #2060d3;
    text-align: right;
}

.saleEdit [name=Invoice] {
    width: 40%;
    float: left;
}

.saleEdit .leftRightButtons {
    width: 27%;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
}

    .saleEdit .leftRightButtons a {
        background: #46b288;
        width: 45%;
        height: 91%;
        float: left;
        border: none;
        border-radius: 5px;
        margin-left: 3%;
        padding: 3px;
    }

        .saleEdit .leftRightButtons a:hover {
            background: #b7e2a0 !important;
        }

.itemMeta i {
    font-size: 16px !important;
    color: #ffffff !important;
    width: 100% !important;
    float: left !important;
    background: transparent !important;
    padding: 0 !important;
}

@media (max-width: 767px) {
    .itemMeta i {
        font-size: 10px !important;
        padding: 7px 0 0px 0px;
    }
}

a:not(.btn) {
    color: black !important;
}

.userlLabel, .itemMeta .selectDiv {
    background: #937d97 !important;
}

.searchAppSection, .footerTotalSection,   .allItemsView .businessManagerSellSection {
    background: #ffffff !important
}

.allItemsView .itemsHeader, .itemsFooter {
    background: #cfd7da !important
}

input .inv3 {
    color: #010101 !important;
}

input {
    color: #636360 !important;
}

.footerTotalSection input {
    color: black !important;
}

.inv3 {
    font-size: 18px;
}

.input__field:focus ~ .input__label:after {
    border-bottom: 2px solid #ffc107 !important;
}

.allItemsView1 .dd-pointer-down {
    color: #9966a1 !important;
}

#PartySearchBox:focus, .inv1:focus {
    background-color: #dbdefa;
    color: #000;
    /*padding: 10px 2px;*/
}

#PartySearchBox, .inv1:focus {
    transition: all 0.5s;
}

.itemSellBtn {
    color: #88798a !important;
}

    .itemSellBtn:hover {
        color: #ececec !important;
        background: #88798a;
    }

.sale .leftRightButtons a, .sale .leftRightButtons input[type=submit], .adjustBalanceBtn {
    background: #8e8190 !important;
    /* border: none !important; */
    border: 1px solid #8e8190;
}

    .sale .leftRightButtons a:hover, .sale .leftRightButtons input[type=submit]:hover, .adjustBalanceBtn:hover {
        background: #715e74 !important;
    }

th {
    background: #5f5f5f !important;
    color: white !important;
}

.ui-menu-item {
    color: rgb(111, 111, 111) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #715e74 !important;
    border-radius: 10px !important;
}

.ManSelectDiv .dd-options {
    top: 24px;
}

.dd-options {
    top: 26px;
}

.dd-option {
    background: #bdaac0 !important;
}

    .dd-option:hover {
        background: #d2bcd5 !important;
    }

.ui-state-focus {
    background-color: #b5abb7 !important;
    color: white !important;
    border: 0 !important;
    cursor: pointer
}

.ui-state-active {
    background-color: #A09D99 !important;
    color: white !important;
    border: 0 !important;
    cursor: pointer
}

.ui-helper-hidden-accessible {
    display: none !important
}

.ui-menu-item {
    width: 100%;
    background-color: #cfd7da;
    height: 35px;
    color: #A09D99;
    padding: 8px 10px 0px 12px
}

.ui-menu-item {
    border: 0px solid !important;
}

.allItemsView .descriptionData input, allItemsView .descriptionData input, .allItemsView .discountData input, .allItemsView .QtyData input, .allItemsView .ItemDData input, .allItemsView .dealData input, .allItemsView .RateData input, .allItemsView .NAmountData input, .allItemsView .PAmountData input, .allItemsView .GAmountData input {
    border: 0.5px solid #715e74;
    background: #F5F5F5;
}

.itemSellBtn, .loginBtn {
    border: 1px solid #715e74;
}

.allItemsView .itemsSection .itemRow:hover {
    /*background: rgb(254, 254, 254);*/
    background: #ffffff !important;
}

.disableClick .fa.fa-chevron-circle-left {
    color: grey !important;
    margin-left: -35px;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.disableClick .fa.fa-chevron-circle-right {
    color: grey !important;
    margin-left: 35px;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.leftRightButtons .disableClick {
    background: lightgrey !important;
}

    .leftRightButtons .disableClick:hover {
        background: lightgrey !important;
    }


.purchasePage .footerTotalTextSection .textSection .rightTextSection {
    width: 132px !important;
}

    .purchasePage .footerTotalTextSection .textSection .rightTextSection.footerTable {
        width: 48% !important;
    }

.purchasePage .footerTable table {
    color: #636360 !important;
}

    .purchasePage .footerTable table input {
        width: 100%;
        padding: 0 5px 0 5px;
        color: #636360 !important;
        text-align: right;
        border: 1px solid #cfd7da;
        background: #ebebe4;
        font-size: 12px;
    }

    .purchasePage .footerTable table tbody td {
        padding: 0;
    }

.purchasePage .footerTotalTextSection .textSection .leftTextSection {
    width: 26%;
    float: left;
    padding: 5px;
}

.purchasePage .footerTotalTextSection .itemMeta.clearfix {
    width: 36%;
}

.purchasePage .footerTotalTextSection .textSection {
    margin: -2px 0px;
    line-height: 0;
    font-size: 11px;
    width: 54%;
    float: left;
}

.itemSellBtn {
    height: auto;
}

.dd-select {
    background: #8e8190 !important;
}

.allItemsView .dd-option-text {
    color: #633f68;
    font-weight: 600;
}

.allItemsView .dd-select {
    background: rgb(223, 206, 225) !important;
}

.itemsSection .dd-option:hover {
    background: #dfcee1 !important;
}

.allItemsView .dd-option {
    background: #e4dbe5 !important;
}

.allItemsView .dd-select a {
    color: #704c76 !important;
}

.sweet-alert .sa-icon.sa-info {
    border-color: #b7a2ba !important;
}

    .sweet-alert .sa-icon.sa-info::before, .sweet-alert .sa-icon.sa-info::after {
        background-color: #bfadc2 !important;
    }

.sweet-alert button.cancel {
    background-color: #e59898 !important;
}

.sweet-alert .confirm {
    background-color: #8e8190 !important;
}

    .sweet-alert .confirm:hover {
        background-color: #916a97 !important;
    }

.sweet-alert button.cancel:hover {
    background-color: #db7c7c !important;
}








.btn-bm {
    background: #937d97 !important;
    color: white !important;
    border: 1px solid #cfd7da;
}

    .btn-bm:hover {
        background: #b59aba !important
    }

.partySection.sale .leftRightButtons a, .partySection.sale .leftRightButtons input[type=submit] {
    background: #937d97 !important;
    height: 33px;
    float: left;
    border: 1px solid #cfd7da;
}

.sale .leftRightButtons a:hover {
    background: #b59aba !important;
    cursor: pointer;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #937d97 !important;
    box-shadow: #b59aba 0 1px 3px 0 inset !important;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled, .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
    opacity: 0.5;
    background: #937d97 !important;
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: default;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    background: #937d97 !important;
    border-color: #937d97 !important;
    color: aliceblue !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #fff !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    background: #b59aba !important;
}

.dd-select {
    background: #937d97 !important;
}

.allItemsView {
    background: #ffffff !important;
}

.badge-bm {
    background-color: #937d97;
}

.Ime-header {
    background: #937d97;
}

#powerTip {
    background-color: #937d97 !important;
}

    #powerTip:before {
        color: #937d97 !important;
    }

.partySection.sale .leftRightButtons a.disableClick, .partySection.sale .leftRightButtons input[type=submit].disableClick {
    background: #bebebe !important;
}

a#deleteInvoice {
    background: #e0b5b5 !important;
}

    a#deleteInvoice i.fas.fa-trash {
        color: #bc0202 !important;
    }

a#printInvoice {
    background: #9accdb !important;
}

    a#printInvoice i {
        color: #0a529f !important;
    }

.footerTotalSection .input__label-content, .searchAppSection .input__label-content {
    padding: .5em 0;
    color: #ffffff !important;
}

.searchAppSection .dd-select {
    background: #ffffff !important;
}

.itemMeta .input__label-content i {
    font-size: 12px !important;
    width: auto !important;
    display: inline-block !important;
}

.itemsFooter input {
    color: black !important;
}